_archived/
.archived
.docs
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.expo/*
.pnp.js
*.jks
*.key
*.mobileprovision
*.orig.*
*.tar.xz
/build
/coverage
/node_modules
deploy/storybook/v0.1.1/
docs/
node_modules/**/*
npm-debug.*
yarn-debug.log*
yarn-error.log*
App/node_modules/
.tmp/
.gbit
.bit/objects
/.bit
App/.bit/objects
AppExpo-v34/
Resources/Components/AwesomeButton/
tools/
Resources/icons/
Release/

App/\.archive/

App/\.eslintcache

App/package-filelist\.txt
etc/USERHOME/
