[submodule "storybook-gh-pages"]
	path = deploy/storybook/dist
	url = git@github.com:centerforglobalsoundscapes/rte3-storybook.git
[submodule "charrismatic-style-library"]
	path = src/style/library
	url = git@github.com:charrismatic/charrismatic-style-library.git
