#!/bin/bash
use_yarn="false"
ANDROID_HOME="/data/projects/5_Android_Projects/AndroidSDK"
ANDROID_SERIAL="025abd11727717ac"
#ANDROID_LOG_TAGS
NODE_ENV="development"
EXPO_DEBUG="true"
NODERUN_ENV="development"
NODERUN_FLAGS=""
#EDITOR="atom"
#NODE_DEBUG='react-native,expo,expo-asset,@react-native-community/cli,metro,jest'
#NODE_OPTIONS="--require=./.preload_modules/nodeinfo"
#NODE_PATH="$NODE_PATH:.preload_modules:node_modules"
#REACT_EDITOR=
#RUN_ABD_LOGCAT="yes"
# RUN_CHROMEDEVTOOLS="yes"
RUN_REACT_DEBUGGER="yes"
#RUN_REACT_REACTOTRON="yes"
#RUN_REACT_DEVTOOLS="yes"
#APP_DIR="/data/apps"
#BASE_DIR="$(npm prefix)"
#PROJ_BASE_DIR="${npm_config_prefix}/App"
#PROJ_ROOT_PATH="${BASE_DIR}"
#PROJ_BASE_DIR=""
PROJECT_ROOT="yes"
