/* Core*/
$color-primary       : #2CC5D2;  /*CARIBBEAN TEAL (BUTTONS)*/
$color-secondary     : #5DB9FF;  /*CERULEAN BLUE (MENU NEW LIST)*/
$color-tertiary      : #D2EDF4;  /*MUTED TEAL (JOIN/SIGNIN BG)*/
$color-ancillary     : #1C3F53;  /*DEEP NAVY (NAV HEADING, MENU ICON)*/
$color-complementary : #778B91;  /*MUTED NAVY (ADD ITEM PLACEHOLDER)*/
/* Alert*/
$color-negative      : #FF4400; /*ERROR, ALERT*/
$color-note          : #F6FCCF;
/* Greyscale*/
$color-empty         : #FFFFFF;
$color-raw           : #F8F8F8;
$color-raw-alt       : #F2F2F2;
$color-rare          : #EEE;
$color-medium-rare   : #CCC;
$color-medium        : #AAA;
$color-medium-well   : #666;
$color-well          : #555;
$color-full          : #333;
