// COLOR SELECTORS

$redColors: (
  red_100 : #A60000,
  red_200 : #B72E3E,
  red_300 : #BF3030,
  red_400 : #FA3E54,
  red_500 : #FF0000,
  red_600 : #FF4040,
);
$blueColors: (
  blue_100: #04346C,
  blue_200: #0B5FA5,
  blue_300: #0E53A7,
  blue_400: #274E7D,
  blue_500: #4284D3,
  blue_600: #6899D3
);
$greenColors: (
  green_100 : #00CC00,
  green_200 : #008500,
  green_300 : #1D8C00,
  green_400 : #269926,
  green_500 : #41A128,
  green_600 : #64DF85
);
$yellowColors: (
  yellow_100 : #A66F00,
  yellow_200 : #A67300,
  yellow_300 : #BF8F30,
  yellow_400 : #FFA200,
  yellow_500 : #FFAA00,
  yellow_600 : #FFB100
);
$greyColors: (
  grey_100: darken(#FFFFFF, 10%),
  grey_200: darken(#FFFFFF, 20%),
  grey_300: darken(#FFFFFF, 30%),
  grey_400: darken(#FFFFFF, 40%),
  grey_500: darken(#FFFFFF, 50%),
  grey_600: darken(#FFFFFF, 60%),
);

$colorSchemes :(
  reds : $redColors,
  blues : $blueColors,
  greys : $greyColors,
  yellows : $yellowColors,
  greens : $greenColors,
);


$white : #FFFFFF;
$black : #000000;
$cyan : #00E9FF;
$grey : #AAAAAA;
$red_100 : #A60000;
$red_200 : #B72E3E;
$red_300 : #BF3030;
$red_400 : #FA3E54;
$red_500 : #FF0000;
$red_600 : #FF4040;
$blu_100 : #04346C;
$blu_200 : #0B5FA5;
$blu_300 : #0E53A7;
$blu_400 : #274E7D;
$blu_500 : #4284D3;
$blu_600 : #6899D3;
$grn_100 : #00CC00;
$grn_200 : #008500;
$grn_300 : #1D8C00;
$grn_400 : #269926;
$grn_500 : #41A128;
$grn_600 : #64DF85;
$yel_100 : #A66F00;
$yel_200 : #A67300;
$yel_300 : #BF8F30;
$yel_400 : #FFA200;
$yel_500 : #FFAA00;
$yel_600 : #FFB100;
$gra_100 : darken(#FFFFFF,10%);
$gra_200 : darken(#FFFFFF,20%);
$gra_300 : darken(#FFFFFF,30%);
$gra_400 : darken(#FFFFFF,40%);
$gra_500 : darken(#FFFFFF,50%);
$gra_600 : darken(#FFFFFF,60%);
