# RUN_REACTOTRON="yes"
APP_DEBUG_APPDATA="yes"
ANDROID_HOME="/data/projects/5_Android_Projects/AndroidSDK"
ANDROID_SERIAL="025abd11727717ac"
DEBUG_LOGGING="yes"
DEV_ENV="expo"
EDITOR="atom"
EXPO_DEBUG="true"
NODE_DEBUG='react-native,expo,expo-asset,@react-native-community/cli,metro,jest'
# NODE_OPTIONS="--require=./preload_modules/test"
# RUN_REACT_DEVTOOLS="yes"
# RUN_REACTOTRON="yes"
# RUN_CHROMEDEVTOOLS="yes"
RUN_REACT_NATIVE_DEBUGGER="yes"
#BASE_DIR=""
#PROJECT_ROOT=$BASE_DIR
#ANDROID_LOG_TAGS
#nohup "$ATOM_PATH" --executed-from="$(pwd)" --pid=$$ "$@" > "$ATOM_HOME/nohup.out" 2>&1
