#!/bin/bash

ANDROID_HOME="/data/projects/5_Android_Projects/AndroidSDK"
ANDROID_SERIAL="025abd11727717ac"
#ANDROID_SERIAL="ZY224KSC7K"
DEBUG_LOGGING="yes"
use_yarn="false"
EXPO_DEBUG="true"
NODE_ENV="development"
EDITOR="atom"
# REACT_EDITOR=
# RUN_ABD_LOGCAT="yes"
# RUN_CHROMEDEVTOOLS="yes"
# RUN_REACT_REACTOTRON="yes"
# RUN_REACT_DEVTOOLS="yes"
# APP_DIR="/data/apps"
# PROJECT_ROOT_PATH="${npm_config_BASE_DIR}/../"
BASE_DIR="$(npm prefix)"
RUN_SCRIPT_DIR=".run"
RUN_BIN_DIR=".bin"
RUN_REACT_DEBUGGER="yes"
PROJECT_ROOT="no"
LINT_DIRS="Config,Theme,Utilities,LifeCycle,Screens,Components"
LINT_CONFIG=".eslintrc.js"
PRETTY_CONFIG=".prettierrc.toml"
