#!/bin/bash
ANDROID_HOME="/data/projects/5_Android_Projects/AndroidSDK"
# ANDROID_SERIAL="025abd11727717ac"
# ANDROID_SERIAL="ZY224KSC7K"
DEBUG_LOGGING="yes"
use_yarn="false"
EXPO_HOST="localhost"
NODE_ENV="development"
# NODE_PATH=""
# NODE_OPTIONS=""
NODE_DEBUG="metro,expo,react-native"
EDITOR="atom"
# RUN_ABD_LOGCAT="yes"
# RUN_CHROMEDEVTOOLS="yes"
# RUN_REACT_REACTOTRON="yes"
# RUN_REACT_DEVTOOLS="yes"
# APP_DIR="/data/apps"
# PROJECT_ROOT_PATH="${npm_config_BASE_DIR}/../"
BASE_DIR="$(npm prefix)"
RUN_SCRIPT_DIR=".run"
RUN_BIN_DIR=".bin"
PROJECT_ROOT="no"
LINT_DIRS="Config,Components,Theme,Utilities,Screens,Navigation"
LINT_CONFIG=".eslintrc.js"
PRETTY_CONFIG=".prettierrc.toml"
ADB_LOG_PATH="/data/0/log/android/logcat-statistics"
# REACT_DEBUGGER="/data/library/React_Library/react-native-debugger/npm-package/bin/rndebugger-open --expo --open"
REACT_DEBUGGER="node /data/library/React_Library/react-native-debugger/npm-package/bin/rndebugger-open --expo --open"
REACT_EDITOR=${EDITOR}
RUN_REACT_DEBUGGER="yes"
EXPO_DEBUG="true"
# App/.npmrc:REACT_DEBUGGER="/data/library/React_Library/react-native-debugger/npm-package/bin/rndebugger-open --expo --open"
